* {
    font-family: poppins;
    max-width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body {
    background: none;
    /* background-image: url(img/pexels-photo-14702925.webp); */
    
    background-size:cover;
    background-repeat:no-repeat;

}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    position: relative;
}
.first-work button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #0581f5 ;
    box-shadow: -5px -5px 12px #e7b9dc31,
                 5px 5px 12px rgba(179, 133, 172, 0.411);
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}
.first-work h1{
    color: #0581f5 ;
}
.first-work label{
    color:#0581f5 ;
    font-weight: 500;
    font-size: 25px;
}
.first-work p{
    color: #0581f5 ;
    font-weight: 500;
    font-size: 18px;
}


.second-work button{
    width: 100px;
    margin-left: 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #0581f5 ;
    box-shadow: -5px -5px 12px #e7b9dc3d,
                 5px 5px 12px rgba(179, 133, 172, 0.411);
    color: #ffffff;
    font-weight: 600;
    font-size: 16px; 
}
.second-work h1{
    color: #0581f5 ;
}
.second-work label{
    color: #0581f5 ;
    font-weight: 500;
    font-size: 25px;
}
.second-work p{
    color: #0581f5 ;
    font-weight: 500;
    font-size: 18px;
} 



.third-work button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #0581f5  ;
    box-shadow: -5px -5px 12px #e7b9dc23,
                 5px 5px 12px rgba(179, 133, 172, 0.192);
    color: #ffffff;
    font-weight: 600;
    font-size: 16px; 
    margin-top: 20px;
}
.third-work h1{
    color: #0581f5 ;
}
.third-work label{
    color: #0581f5 ;
    font-weight: 500;
    font-size: 25px;
}
.third-work p{
    color: #0581f5 ;
    font-weight: 500;
    font-size: 18px;
} 
.third-work input{
    background: none;
    border: #0581f5 2px solid;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    color: #0581f5 ;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}


.fourth-work button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #0581f5 ;
    box-shadow: -5px -5px 12px #e7b9dc2c,
                 5px 5px 12px rgba(179, 133, 172, 0.219);
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}
.fourth-work h1{
    color: #0581f5 ;
}
.fourth-work label{
    color:#0581f5 ;
    font-weight: 500;
    font-size: 25px;
}
.fourth-work p{
    color: #0581f5 ;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
}
.image img{
    position: absolute;
    position: fixed;
}
.image1{
    position: relative;
    top: 100px;
    /* left: 800px; */
}
.image1 img{
    margin-left: 749px;
    width: 600px;
}
.text{
    position: relative;
    top: 300px;
    color: #000000;
}